@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

:root {
  --dark: #181818;
  --gray: #1d1d1d;
  --white: #eee6e6;
  --accent: #ff9701;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--white);
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: var(--accent);
}

span {
  color: var(--accent);
}

section {
  padding: 4rem 0;
  min-height: 100%;
}

li {
  color: var(--white);
  list-style-type: none;
}

/* Custome classes */

.accent {
  color: var(--accent);
}

.container {
  margin: 0 auto;
  padding: 0 1.25rem;
}

#contact .container {
  max-width: 950px;
  margin: auto auto;
}

@media (min-width: 993px) {
  .container {
    width: 1130px;
    max-width: 95%;
    padding: 0;
  }
}

@media screen and (max-width: 993px) {
  #contact .container {
    max-width: 96%;
    margin: auto auto;
  }
}
@media screen and (max-width: 560px) {
  #contact .container {
    max-width: 100%;
    padding: 0;
    margin: auto auto;
    text-align: center;
  }
}

/* Header styles */

h1 {
  color: var(--white);
  opacity: 0.85;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.4;
}
h2 {
  font-size: 35px;
  color: var(--white);
  font-weight: 900;
}

h1 span {
  padding: 2px 8px 00px 8px;
  background-color: var(--accent);
  color: var(--dark);
}

@media (min-width: 540px) {
  h1 {
    font-size: 60px;
    line-height: 1.6;
  }

  h1 span {
    padding: 3px 12px 00px 12px;
  }
}

@media (min-width: 993px) {
  h1 {
    font-size: 110px;
    line-height: 1.2;
  }

  h1 span {
    padding: 8px 20px 00px 20px;
  }

  h2 {
    font-size: 60px;
    color: var(--white);
    font-weight: 700;
    margin-bottom: 4rem !important;
  }
}

/* Button styles */

.button {
  appearance: none;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--white);
  border-radius: 65px;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 0.6rem 2.2rem;
  text-align: center;
  text-decoration: none;
  transition: all 800ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: var(--dark);
  border: 2px solid var(--accent);
  background-color: var(--accent);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.hero-section-content .button {
  margin-top: 3rem;
}

@media (max-width: 993px) {
  .hero-section-content .button {
    margin-bottom: 3rem;
  }
}

@media (min-width: 993px) {
  .button {
    font-size: 16px;
    font-weight: 500;
    padding: 1rem 3.2rem;
  }
}

/* Hero Section */

.header {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-section-background {
  width: 100%;
  height: 100%;
  background: url("./img/bar_crawl.webp");
  background-size: cover;
  background-position: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-section-background::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark);
  opacity: 0.5;
}

.logo {
  position: relative;
  width: 5rem;
}

.logo img {
  width: 100%;
  height: auto;
}

nav {
  padding: 1.25rem 1.25rem;
  display: flex;
  justify-content: space-between;
}

.hero-section-content {
  padding: 6rem 1.25rem;
}

@media (min-width: 540px) {
  nav {
    padding: 1.5rem 2rem;
  }

  .hero-section-content {
    padding: 8rem 2rem;
  }
}

@media (min-width: 993px) {
  nav {
    padding: 3rem 5rem;
  }

  .hero-section-content {
    padding: 2rem 5rem;
  }

  .logo {
    position: relative;
    width: 8.725rem;
  }
}

/* Socials */

.socials {
  position: absolute;
  display: flex;
  gap: 1rem;
  right: 50px;
  bottom: 20px;
  width: 90px;
  height: auto;
}
.socials a {
  width: 100%;
  height: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  fill: #ececec;
  min-width: 25px;
}
.socials .trip_advisor {
  min-width: 30px;
  fill: var(--white) !important;
  opacity: 1 !important;
}

.socials .trip_advisor:hover {
  min-width: 30px;
  fill: var(--accent) !important;
}

.socials svg {
  transition: fill 0.3s;
}

.socials svg:hover {
  fill: var(--accent);
}

.trip_advisor .icon,
.trip_advisor .text {
  cursor: pointer;
}

@media (max-width: 993px) {
  .socials {
    right: initial;
    left: 2rem;
  }
}

@media (max-width: 540px) {
  .socials {
    left: 1.25rem;
  }

  .socials a {
    width: 100%;
    height: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    fill: #ececec;
    min-width: 15px;
  }
  .socials .trip_advisor {
    min-width: 25px;
  }
}

/* ABOUT SECTION */

.about {
  width: 100%;
  padding: 70px 0;
  background-color: var(--dark);
}

.about-text {
  width: 100%;
}

.about-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.about-text h5 {
  color: var(--white);
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 26px;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.about-text p,
.about-text li {
  color: var(--white);
  line-height: 1.5;
  font-weight: 100;
  font-size: 16px;
}

.about-text p {
  margin-bottom: 3rem;
}

.about-img {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: auto;
  border-radius: 1rem;
  max-height: 400px;
  margin-top: 2rem;
}
.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  max-height: 400px;
  object-fit: cover;
}
.about-img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(22, 22, 22, 0.405);
  opacity: 1;
  border-radius: 1rem;
}

@media (min-width: 993px) {
  .about-wrapper {
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    gap: 5rem;
  }

  .about-img {
    width: 40%;
    height: auto;
    max-height: initial;
    margin-top: 0rem;
  }
  .about-img img {
    max-height: initial;
  }

  .about-text {
    width: 550px;
    padding: 0;
  }

  .about-text h5 {
    letter-spacing: 2.3px;
    font-size: 36px;
    margin-bottom: 1.2rem;
  }
  .about-text p,
  .about-text li {
    font-size: 18px;
    letter-spacing: 1.6;
    font-style: normal;
  }

  .about-text p {
    margin-bottom: 6rem;
  }
}

@media (max-width: 560px) {
  .about-img {
    max-height: 300px;
  }
  .about-img img {
    max-height: 300px;
  }
}

/* GALLERY */

/* Swiper Galery slides styles */

#swiper-section {
  min-height: 100vh;
  padding: 5rem 0 10rem 0;
  background-color: var(--dark);
}

.swiper-section-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.swiper {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}
.swiper-wrapper {
  align-items: center;
  height: auto;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  transition: all 0.6s;
  height: auto !important;
  height: 100%;
  margin-bottom: 4rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 0.425rem;
}

.swiper-slide:not(.swiper-slide.swiper-slide-active) {
  transform: scale(0.8);
  opacity: 0.45;
}
.swiper-slide-active {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  cursor: pointer;
}

.swiper-title {
  text-align: center;
  margin-bottom: 2rem;
}

.swiper-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 5rem;
}
.swiper-button-next,
.swiper-button-prev {
  position: relative;
  top: initial;
  width: initial;
  height: initial;
  margin-top: initial;
  transition: 0.3s ease color;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--white);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--accent);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 50px;
  font-weight: 800;
}

@media (max-width: 993px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 30px;
  }
}

/* Contact Section */

#contact {
  background-image: url(./img/bar_crawl2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 5.2rem 0 2rem 0;
}

#contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  opacity: 0.1;
  pointer-events: none;
}

.contact-wrapper {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--dark);
  opacity: 0.97;
  border-radius: 15px;
}

.form-wrapper {
  background-color: var(--gray);
  border-radius: 15px 0 0 15px;
}
.info-wrapper {
  background-color: var(--dark);
  border-radius: 0 15px 15px 0;
}

.form-wrapper,
.info-wrapper {
  width: 100%;
  padding: 3rem;
}

.form-title,
.info-title {
  color: var(--white);
}
.form-title {
  margin-bottom: 5rem;
  line-height: 0.2;
  font-size: 32px;
}

.info-title {
  line-height: 1;
  margin-bottom: 1rem;
  font-size: 20px;
}

.info-description {
  color: #666666;
  margin-bottom: 5rem;
}

#contact .form-control {
  font-size: 16px;
  margin-bottom: 3rem;
}

#contact .form-control {
  display: block;
  width: 100%;
  background: transparent;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.1rem;
}

.form-control:focus {
  border-color: var(--accent) !important;
  opacity: 0.6;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: var(--accent);
}

/* Firefox < 19 */

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: var(--accent);
}

/* Firefox > 19 */
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: var(--accent);
}

.form-group {
  margin-bottom: 1rem;
}
.form-group:has(textarea) {
  margin-bottom: 2rem;
}

#contact input {
  overflow: visible;
}

.contact-info {
  margin-top: 2rem;
  margin-left: -0.5rem;
}
.contact-info--item {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
  align-items: center;
}
.contact-info--item .icon-wrapper {
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.contact-info--item p {
  margin-bottom: 0;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 1.1;
}
.contact-info--icon {
  width: 24px;
  height: auto;
  color: var(--white);
}

.contact-info--icon,
.contact-info--item p {
  transition: color 0.3s ease-in, fill 0.3s ease-in;
}

.contact-info--item:hover .contact-info--icon,
.contact-info--item:hover p {
  color: var(--accent);
}

.contact-info--item:hover .trip_advisor,
.contact-info--item:hover .instagram,
.contact-info--item:hover p {
  fill: var(--accent);
}

.contact-info--icon.instagram {
  opacity: 0.8;
}

.trip_advisor {
  fill: var(--white);
  opacity: 0.9;
}

.btn.btn-primary {
  border-radius: 65px;
  font-size: 16px;
  cursor: pointer;
  min-height: 50px;
  background-color: var(--accent);
  border: none;
  padding: 0.4rem 2.4rem;
  color: var(--white);
  transition: background-color 0.5s ease, border-color 0.5s ease;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background-color: #d67a0c;
}

#form-message-warning,
#form-message-success {
  display: none;
}

#form-message-warning {
  color: red;
}

#form-message-success {
  color: #28a745;
  font-size: 18px;
  font-weight: 500;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

@media screen and (max-width: 993px) {
  .contact-wrapper {
    flex-direction: column;
  }
  .info-wrapper {
    border-radius: 15px 15px 0px 0;
  }
  .form-wrapper {
    margin: 0 auto;
    border-radius: 15px 15px 15px 15px;
  }

  #contact .container {
    max-width: 96%;
    margin: auto auto;
  }
}

@media screen and (max-width: 560px) {
  #contact .container {
    max-width: 100%;
    margin: auto auto;
    text-align: center;
  }

  section#contact {
    padding: 0;
  }
  .info-wrapper {
    padding-top: 4rem;
    border-radius: 0 0 0 0;
  }
  .form-wrapper {
    padding-top: 6rem;
    border-radius: 0 0 15px 15px;
  }

  .contact-info {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .contact-info li {
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-info--item p {
    display: none;
  }
}

/* Age Restriction content */

.restriction-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000a9;
}

.restriction-box {
  position: absolute;
  width: 650px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 1rem;
  padding: 2rem 3rem;
  opacity: 0.9;
}
.restriction-box p {
  padding: 0.5rem 0rem 1.25rem 0;
}

.restriction-button {
  background-color: #272a34;
  border-radius: 0.25rem;
  color: var(--white);
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.restriction-button:hover {
  background-color: var(--accent);
}

.restriction-overlay.remove,
.restriction-box.remove {
  animation: remove-overlay;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes remove-overlay {
  0% {
    visibility: visible;
    opacity: 1;
  }

  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 767px) {
  .restriction-box {
    width: 90%;
    height: 460px;
    padding: 1.5rem 2rem;
  }
}

/* Pricing Section */

#pricing {
  background-color: var(--gray);
}

h2.pricing-title {
  text-align: center;
  margin-bottom: 2rem !important;
}

.plan-icon {
  width: 50px;
  height: 50px;
}

.plan-icon svg path {
  fill: #ff9701;
}

.pricing-wrapper {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

#pricing .accent {
  text-align: center;
  margin-bottom: 6rem;
  font-size: 20px;
}
.pricing-plan {
  position: relative;
  border-radius: 1.25rem;
  margin: 0;
  width: 40%;
  max-width: 350px;
  background-color: #262626;
  border: 1px solid #1e1e1e;

  display: flex;
  flex-direction: column;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out,
    background-color 0.4s ease-in-out;
}

.pricing-plan:hover {
  transform: scale(1.05);
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.3);
  background-color: #222121;
}

.plan-header-wrapper {
  display: flex;
  padding: 2rem 0.925rem;
}

.plan-header-wrapper .plan-icon {
  transition: transform 0.4s ease-in-out;
  margin: 0 1rem;
}
.pricing-plan:hover .plan-icon {
  transform: scale(1.3);
}

.plan-header {
  color: var(--white);
}

.plan-title {
  font-size: 20px;
  font-weight: 800;
  color: var(--white);
  text-transform: uppercase;
}

.plan-cost {
  margin: 0;
  opacity: 0.4;
}
.plan-cost span {
  color: var(--white);
}

.plan-price {
  font-weight: 800;
  font-size: 1.3rem;
}
.plan-type {
  opacity: 0.8;
  font-size: 0.7em;
  text-transform: uppercase;
}

.plan-features {
  padding: 0;
  margin: 0 0 40px;
  flex-grow: 1;
  text-align: center;
  list-style: outside none none;
  font-size: 1rem;
  text-align: left;
}

.plan-features li {
  padding: 5px 5%;
  font-weight: 500;
  opacity: 0.5;
  border-left: 5px solid #f39c12;
  margin: 2px 20px;
}

.plan-btn {
  max-width: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-weight: 800;
  font-size: 16px;
  min-height: 45px !important;
}
.plan-select {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 1.25rem 1.25rem;
  padding: 1.5rem;
}

@media screen and (max-width: 993px) {
  .pricing-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .pricing-plan {
    width: 90%;
    max-width: 600px;
  }
}

@media screen and (max-width: 560px) {
  .pricing-plan {
    width: 96%;
    max-width: 420px;
  }
}
